################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SalaryGeneratorServices/bin
/SalaryGeneratorServices/obj
/.vs/SalaryGeneratorServices
/packages
